---
import Base from "../layouts/Base.astro";
import { formatDate } from "../utils/date.ts";
import { getLatestContent } from "../utils/content";

const entriesObj = import.meta.glob("./entries/*.md", { eager: true });
const entry = getLatestContent(entriesObj);
const entryDate = formatDate(entry.frontmatter.pubDate.toString());

const notesObj = import.meta.glob("./notes/*.md", { eager: true });
const note = getLatestContent(notesObj);
const noteDate = formatDate(note.frontmatter.pubDate.toString());
---

<Base>
  <main class="container">
    <section class="welcome">
      <h1>Welcome</h1>
      <p>
        I'm someone who enjoys learning and building things. Here I share some
        projects and thoughts and showcase a little bit of what piques my
        interest.
      </p>
      <hr />
      <p>
        These days I immerse myself in exploring the diverse shapes canonical
        software can take. What I find the most relevant to my interests are
        <a
          href="https://malleable.systems"
          rel="nofollow noopener noreferrer"
          target="_blank"
          >malleable interfaces
        </a>
        within the implementation of
        <a
          href="https://www.inkandswitch.com/essay/local-first/"
          rel="nofollow noopener noreferrer"
          target="_blank">local-first</a
        >
        principles.
      </p>
    </section>
    <section class="card">
      <a href={entry.url} class="card__content">
        <h3>Latest Entry</h3>
        <h2>{entry.frontmatter.title}</h2>
        <p class="subtitle">{`${entryDate} - ${entry.frontmatter.topic}`}</p>
        <p class="card__cta">Continue &rarr;</p>
      </a>
    </section>
    <section class="card">
      <a href={note.url} class="card__content">
        <h3>Latest Note</h3>
        <h2>{note.frontmatter.title}</h2>
        <p class="subtitle">{`${noteDate} - ${note.frontmatter.topic}`}</p>
        <p class="card__cta">Continue &rarr;</p>
      </a>
    </section>
    <p>
      I've always been drawn to
      <a
        href="https://obsidian.md/about"
        rel="nofollow noopener noreferrer"
        target="_blank">software</a
      >
      that empowers users with flexibility and control, allowing them to shape their
      digital tools rather than being constrained by rigid structures. The intersection
      of adaptable interfaces with local-first architecture creates systems that
      preserve end-user autonomy while enabling durability and collaboration.
    </p>
    <hr />
    <p>
      Feel free to reach out if you have any questions or want to chat about
      literally anything. You can contact me via the links below.
    </p>
  </main>
</Base>
