---
import Base from "../layouts/Base.astro";
import Note from "../components/Note.astro";
import { getContent } from "../utils/content";
import { sortByDate } from "../utils/date.ts";

const title = "Notes";
const subtitle = "The more spontaneous log; a catch-all of sorts.";
const notesObj = import.meta.glob("./notes/*.md", { eager: true });
const notes = getContent(notesObj);
---

<Base title={title}>
  <main class="container">
    <article>
      <header>
        <h1>{title}</h1>
        <span class="subtitle">{subtitle}</span>
      </header>
      <main class="notes">
        {
          notes.sort(sortByDate).map((note) => (
            <Note
              title={note.frontmatter.title}
              topic={note.frontmatter.topic}
              pubDate={note.frontmatter.pubDate}
              url={note.url}
            >
              <Fragment set:html={note.compiledContent()} />
            </Note>
          ))
        }
      </main>
    </article>
  </main>
</Base>
