---
import Page from "../layouts/Page.astro";
import { formatDate } from "../utils/dates.ts";
import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
const date = formatDate(frontmatter.date.toString());
---

<Page title={frontmatter.title} subtitle=`${date} - ${frontmatter.topic}`>
  <main>
    {
      frontmatter.image && (
        <div class="note__img">
          <Image
            src={frontmatter.image.src}
            alt={frontmatter.image.alt}
            width="100"
            height="100"
            loading="eager"
          />
        </div>
      )
    }
    <div class="markdown__content">
      <slot />
    </div>
  </main>
</Page>
